body {
    background-color: rgb(177, 25, 114);
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     text-align:center
}
h2 {
    text-decoration:underline;
    text-align: center;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
form {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
}
h3 {
    text-decoration:underline;
    text-align: center;
    color: pink;
    font-family: Arial, Helvetica, sans-serif;
}


