body {
    background-color: rgb(177, 25, 114);
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     text-align:left
}
h1{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-decoration:underline;
    text-align: left;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-decoration:underline;
    text-align: center;
    color:pink;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    align-content: center;
    text-align: center;
}